body {
  background: black;
}

article {
  text-align: left;
  align-items: center;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  background: #b05a5a;
}

.box {
  padding: 5px;
}

h1 {
  font-family: monospace;
  font-size: 30px;
}

p {
  font-family: Helvetica;
  font-size: 16px;
}
